[Unit]
Description=Shutdown


[Service]
Environment=/home/osmc/
Environment=PATH=/home/osmc/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/bin/bash /home/osmc/pi-shut/scripts/shutdown.sh
WorkingDirectory=/home/osmc/pi-shut/
Type=forking
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
